JOURNAL_FILENAME="journal.log"
OUTPUT_LOG_FILENAME="output.log"

REPO="your.private.repo.yourdomain.com:5000"
IMAGE="sample-image-name"

VERBOSE_OUTPUT=no

HOOKS_DIR="./hooks"

AUTO_CREATE=no
AUTO_CREATE_LATEST_TAG=no

AUTO_PUSH=no
AUTO_PUSH_LATEST_TAG=no

DOCKER_BUILD_ARGS_1=""
DOCKER_BUILD_ARGS_2=""
DOCKER_BUILD_ARGS_3=""
